In [198]:
import requests
import time
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import create_engine, MetaData, Table, select

In [212]:
table_name = ""
host = "34.70.251.126"
port = "5432"
user = "admin"
password = "root"
database= "umweltmonitoring"

In [ ]:
engine = create_engine(f'mysql://{user}:{password}@{host}:{port}/{database}')

### Messwerte der einzelnen Stationen in ein Dataframe speichern

In [ ]:
#Messstationen definieren
boxes_dic = {
    "Mersch Luxembourg" : "5ae4a726223bd80019a367a6",
    "Ettlingen Deutschland" : "5dde9523ba7944001da4150e",
    "Stuttgart Deutschland" : "5c08379b1c28f9001a3f580c",
    "München Deutschland" : "5b4d11485dc1ec001b5452c7",
    "Berlin Deutschland" : "65e8d93acbf5700007f920ca",
    "Hamburg Deutschland" : "590e0b0a51d3460011c725c4",
    "Dortmund Deutschland" : "605f498077a88b001bba3dc0",
    "Jena Deutschland" : "64722d1c9be0580007f776d9"
}

In [202]:
# Datenbank connection
table_name = "box_id"
host = "34.70.251.126"
port = "5432"
user = "admin"
password = "root"
database= "umweltmonitoring"

engine = create_engine(f'mysql://{user}:{password}@{host}:{port}/{database}')

# Annahme: 'engine' ist Ihre erstellte SQLAlchemy-Engine
engine = create_engine('mysql://user:password@host:port/database')

# Verbindung zu Ihrer Datenbank herstellen
conn = engine.connect()

# Erstellen Sie ein MetaData-Objekt, um Metadaten über Ihre Tabellen abzurufen
metadata = MetaData()

# Laden Sie die Tabelle 'box_id' aus der Datenbank
box_id = Table(table_name, metadata, autoload=True, autoload_with=engine)

# Erstellen Sie das Select-Statement, um die 'id'-Spalte auszuwählen
stmt = select([box_id.columns.id])

# Führen Sie das Select-Statement aus und erhalten Sie die Ergebnisse
results = conn.execute(stmt)

# Erstelle ein leeres DataFrame mit Spaltennamen
df_messwerte = pd.DataFrame(columns=["Time", "Temperature","Luftfeuchtigkeit", "PM10", "PM2.5", "senseID"])

new_data = []  # Eine leere Liste, um neue Daten zu sammeln
for row in results:
    box_id = row[0]
    response = requests.get(f'https://api.opensensemap.org/boxes/{box_id}?format=json')
    box = response.json() 
    temperature_value = None
    pm10_value = None
    pm25_value = None
    rel_Luftfeuchte_value = None

    # Traverse durch die 'sensors' Liste
    for sensor in box.get('sensors', []):
    # Überprüfe, ob der Sensor für Temperatur ist
        if sensor.get('title') == 'Temperatur':
           # Zugriff auf den Temperaturwert
            temperature_value = sensor.get('lastMeasurement', {}).get('value')
        
        if sensor.get('title') == 'PM10':
           # Zugriff auf den Temperaturwert
            pm10_value = sensor.get('lastMeasurement', {}).get('value')

        if sensor.get('title') == 'PM2.5':
           # Zugriff auf den Temperaturwert
            pm25_value = sensor.get('lastMeasurement', {}).get('value')

        if sensor.get('title') == 'rel. Luftfeuchte':
           # Zugriff auf den Temperaturwert
            rel_Luftfeuchte_value = sensor.get('lastMeasurement', {}).get('value')
            
            break  # Verlasse die Schleife, sobald die Temperatur gefunden ist
        
    # Füge neue Daten zur Liste hinzu
    new_data.append({"Temperature": temperature_value, "Time": time.strftime("%Y-%m-%d %H:%M:%S"),"Luftfeuchtigkeit": rel_Luftfeuchte_value, "PM10":pm10_value, "PM2.5":pm25_value, "senseID": box_value})
    
    # Konvertiere die neue Datenliste in ein DataFrame
new_df = pd.DataFrame(new_data)
    
    # Hänge das neue DataFrame an das bestehende DataFrame an
df_messwerte = pd.concat([df_messwerte, new_df], ignore_index=True)
df_messwerte=df_messwerte.fillna(0)
df_messwerte[["Temperature","Luftfeuchtigkeit","PM10","PM2.5"]]= df_messwerte[["Temperature","Luftfeuchtigkeit","PM10","PM2.5"]].astype("Float64")
df_messwerte = df_messwerte.round(2)

In [208]:
df_messwerte

,Time,Temperature,Luftfeuchtigkeit,PM10,PM2.5,senseID
0,2024-05-15 10:19:02,16.7,99.9,3.57,3.0,5ae4a726223bd80019a367a6
1,2024-05-15 10:19:04,18.03,78.08,2.28,1.13,5dde9523ba7944001da4150e
2,2024-05-15 10:19:05,22.1,51.7,2.33,1.27,5c08379b1c28f9001a3f580c
3,2024-05-15 10:19:05,17.19,70.04,10.77,3.38,5b4d11485dc1ec001b5452c7
4,2024-05-15 10:19:06,23.4,31.2,0.0,0.0,65e8d93acbf5700007f920ca
5,2024-05-15 10:19:06,33.5,55.5,4.23,1.8,590e0b0a51d3460011c725c4
6,2024-05-15 10:19:07,22.72,0.0,0.0,0.0,605f498077a88b001bba3dc0
7,2024-05-15 10:19:07,24.26,29.03,2.9,1.13,64722d1c9be0580007f776d9

In [ ]:
try:
    df_messwerte.to_sql(table_name, con=engine, if_exists='append', index=False)
except Exception as e:
    print(f"Fehler beim Schreiben des DataFrames in die SQL-Datenbank: {str(e)}")

### Zweites DataFrame für Daten der Messstationen erstellen

In [209]:
# Erstelle ein leeres DataFrame mit Spaltennamen
df_stations = pd.DataFrame(columns=["Ort","Land","Lat", "Lon", "Hoehe", "senseID"])

In [210]:
new_data = []  # Eine leere Liste, um neue Daten zu sammeln
for box_id, box_value in boxes_dic.items():
    response = requests.get(f'https://api.opensensemap.org/boxes/{box_value}?format=json')
    box = response.json() 
    temperature_value = None
    lat = None
    lon = None
    hoehe = None
    pm10_value = None
    pm25_value = None
    rel_Luftfeuchte_value = None
    ort_Land = box_id.split()

    # Extrahiere Koordinaten
    current_location = box.get('currentLocation', {})
    if current_location:
        coordinates = current_location.get('coordinates')
        if coordinates:
            lon = coordinates[0]
            lat = coordinates[1]
            height = coordinates[2] if len(coordinates) >= 3 else None

        
    # Füge neue Daten zur Liste hinzu
    new_data.append({"Ort": ort_Land[0], "Land":ort_Land[1], "Lat": lat,"Lon":lon,"Hoehe":height, "senseID": box_value})
    
    # Konvertiere die neue Datenliste in ein DataFrame
new_df = pd.DataFrame(new_data)
    
    # Hänge das neue DataFrame an das bestehende DataFrame an
df_stations = pd.concat([df_stations, new_df], ignore_index=True)

In [211]:
df_stations

,Ort,Land,Lat,Lon,Hoehe,senseID
0,Mersch,Luxembourg,49.754663,6.105682,250.0,5ae4a726223bd80019a367a6
1,Ettlingen,Deutschland,48.926209,8.374409,4.0,5dde9523ba7944001da4150e
2,Stuttgart,Deutschland,48.779610,9.213723,280.0,5c08379b1c28f9001a3f580c
3,München,Deutschland,48.146546,11.576033,20.0,5b4d11485dc1ec001b5452c7
4,Berlin,Deutschland,52.511270,13.397356,45.0,65e8d93acbf5700007f920ca
5,Hamburg,Deutschland,53.544046,9.997499,NaN,590e0b0a51d3460011c725c4
6,Dortmund,Deutschland,51.497350,7.494606,NaN,605f498077a88b001bba3dc0
7,Jena,Deutschland,50.934561,11.589701,146.0,64722d1c9be0580007f776d9

In [ ]:
try:
    df_stations.to_sql("      ", con=engine, if_exists='append', index=False)
except Exception as e:
    print(f"Fehler beim Schreiben des DataFrames in die SQL-Datenbank: {str(e)}")