In [2]:
import requests
import time
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
host = ""
port = ""
user = ""
password = ""
database= ""

In [28]:
response = requests.get(f'https://api.opensensemap.org/boxes/590e0b0a51d3460011c725c4?format=json')
response = response.json()
response

{'_id': '590e0b0a51d3460011c725c4',
 'createdAt': '2022-03-30T11:25:43.281Z',
 'updatedAt': '2024-05-13T14:50:27.345Z',
 'name': 'Hafencity - Am Standtorkai/Osakaallee',
 'exposure': 'outdoor',
 'model': 'luftdaten_sds011',
 'sensors': [{'title': 'PM10',
   'unit': 'µg/m³',
   'sensorType': 'SDS 011',
   'icon': 'osem-cloud',
   '_id': '590e0b0a51d3460011c725c5',
   'lastMeasurement': {'createdAt': '2024-05-13T14:50:27.338Z',
    'value': '2.37'}},
  {'title': 'PM2.5',
   'unit': 'µg/m³',
   'sensorType': 'SDS 011',
   'icon': 'osem-cloud',
   '_id': '590e0b0a51d3460011c725c6',
   'lastMeasurement': {'createdAt': '2024-05-13T14:50:27.338Z',
    'value': '2.03'}},
  {'_id': '592469ca51d34600119bf21f',
   'icon': 'osem-thermometer',
   'sensorType': 'DHT22',
   'unit': '°C',
   'title': 'Temperatur',
   'lastMeasurement': {'createdAt': '2024-05-13T14:50:27.338Z',
    'value': '35.60'}},
  {'_id': '592469ca51d34600119bf220',
   'icon': 'osem-humidity',
   'sensorType': 'DHT22',
   'unit': '%',
   'title': 'rel. Luftfeuchte',
   'lastMeasurement': {'createdAt': '2024-05-13T14:50:27.338Z',
    'value': '40.60'}}],
 'description': 'Kreuzung von zwei größeren Straßen. Im Hafengebiet.',
 'currentLocation': {'coordinates': [9.997499, 53.544046],
  'type': 'Point',
  'timestamp': '2017-05-06T17:42:34.000Z'},
 'lastMeasurementAt': '2024-05-13T14:50:27.338Z',
 'grouptag': [''],
 'loc': [{'geometry': {'coordinates': [9.997499, 53.544046],
    'type': 'Point',
    'timestamp': '2017-05-06T17:42:34.000Z'},
   'type': 'Feature'}]}

In [3]:
boxes_dic = {
    "Mersch Luxembourg" : "5ae4a726223bd80019a367a6",
    "Ettlingen, Deutschland" : "5dde9523ba7944001da4150e",
    "Stuttgart Deutschland" : "5c08379b1c28f9001a3f580c",
    "München Deutschland" : "5b4d11485dc1ec001b5452c7",
    "Berlin Deutschland" : "65e8d93acbf5700007f920ca",
    "Hamburg Deutschland" : "590e0b0a51d3460011c725c4",
    "Dortmund Deutschland" : "605f498077a88b001bba3dc0",
    "Jena Deutschland" : "64722d1c9be0580007f776d9"
}

In [15]:
# Erstelle ein leeres DataFrame mit Spaltennamen
df = pd.DataFrame(columns=["Box ID", "Temperature","Time"])

In [ ]:
new_data = []  # Eine leere Liste, um neue Daten zu sammeln
for box_id, box_value in boxes_dic.items():
    response = requests.get(f'https://api.opensensemap.org/boxes/{box_value}?format=json')
    box = response.json() 
    temperature_value = None

        # Traverse durch die 'sensors' Liste
    for sensor in box.get('sensors', []):
    # Überprüfe, ob der Sensor für Temperatur ist
        if sensor.get('title') == 'Temperatur':
           # Zugriff auf den Temperaturwert
            temperature_value = sensor.get('lastMeasurement', {}).get('value')
            break  # Verlasse die Schleife, sobald die Temperatur gefunden ist
        
    # Füge neue Daten zur Liste hinzu
    new_data.append({"Box ID": box_id, "Temperature": temperature_value, "Time": time.strftime("%Y-%m-%d %H:%M:%S")})
    
    # Konvertiere die neue Datenliste in ein DataFrame
new_df = pd.DataFrame(new_data)
    
    # Hänge das neue DataFrame an das bestehende DataFrame an
df = pd.concat([df, new_df], ignore_index=True)
    
    # Drucke oder verwende das DataFrame
print(df)

In [18]:
df

                   Box ID         Temperature                 Time
0       Mersch Luxembourg               25.30  2024-05-13 16:25:55
1  Ettlingen, Deutschland               23.49  2024-05-13 16:25:56
2   Stuttgart Deutschland               26.60  2024-05-13 16:25:56
3     München Deutschland               16.92  2024-05-13 16:25:56
4      Berlin Deutschland               28.50  2024-05-13 16:25:57
5     Hamburg Deutschland               38.20  2024-05-13 16:25:57
6    Dortmund Deutschland  26.611111111111114  2024-05-13 16:25:57
7        Jena Deutschland               24.90  2024-05-13 16:25:58